<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Virtual Currency Front
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <canvas #barChart></canvas>
  </div>
</ion-content>
